<div class="row">
    <span class="col-md-12 form-group">
                        
    <a  title="Adicionar" data-toggle="modal" data-target="#modalPermission" class="btn btn-blue btn-ball pull-right">
        <span class="fa fa-plus"></span> Adicionar
    </a>
    <table class="table table-hover table-striped sem-margin">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th class="text-right">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let perfil of listPerfis">            
                <td>{{perfil.nome}}</td>
                <td>{{perfil.descricao}}</td>
                <td class="text-right">
                    <a (click)="removeperfil(perfil)" class="btn btn-default btn-xs">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    </span>
</div>
